<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <title>D3 Project</title>
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="css/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/leaflet.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <!--<h1> A Hungry Student's Guide to Las Vegas</h1>-->

    <!--Live video wallpaper-->
    <div id="video-container">
    <header class="bg-primary text-white" id="main-page">
        <video autoplay muted loop id="myVideo">
            <source src="images/vegasstrip2clip.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="container text-center" id="page-top">
            <h1 id="homepage-title">A Hungry Student's Guide to Las Vegas</h1>
            <p class="lead">CS 171 <br> Jamie Chen, Jake Cui, and Annie Kim</p>
            <button type="button" class="btn" id="homepage-button">
                <a class="nav-link js-scroll-trigger" href="#leaflet-div">Learn More</a></button>
        </div>
    </header>
    </div>

    <div id="space-holder"></div>

    <div class="row view overlay zoom" >
        <center>
            <img src="images/res1.jpg" class="img-fluid" style="height:200px"/>
            <img src="images/res4.jpg" class="img-fluid" style="height:200px"/>
            <img src="images/food1.jpg" class="img-fluid" style="height:200px; width:210px"/>
            <img src="images/res2.jpg" class="img-fluid" style="height:200px"/>
        </center>
    </div>

    <div class="row">
        <p>
            You're in Las Vegas for the weekend with your friends, and trying to decide your next meal. Explore this website to find a restaurant for any kind of event - a quick lunch, birthday meal, or
            celebratory event! The data below can be filtered based on price range and average rating on Yelp.
        </p>
    </div>


    <div class="row" id="maps">



        <div class="col-7" id="leaflet-div">
            <div class="row" id="inputs">
                <h2>Food Map of Las Vegas</h2>
                <p>
                    The green icons indicate restaurants with a rating of 4.0 stars or more. Click on the individual icons
                    to see the name of the restaurant and its address.
                </p>
                <div class="input-group" id="ratingframe">
                    <input type="text" class="form-control" id="low" value="0.0"/>
                    <input type="text" class="form-control" id="high" value="5.0"/>
                    <button type="button" class="btn btn-danger" id="ratingFilter"> Filter based on stars </button>
                    <br>
                    <input type="text" class="form-control" id="lowPrice" value="$"/>
                    <input type="text" class="form-control" id="highPrice" value="$$$$"/>
                    <button type="button" class="btn btn-danger" id="priceFilter"> Filter based on price </button>
                </div>

            </div>
            <div id="test-map"></div>

        </div>

        <div class="col" id="restaurant-info-div">
            <div class="row" id="restaurantInfo">
                <div class = "restaurant-title"></div>
            </div>
            <div class = "row" id = "stars">
                <div class = "star-rating"></div>
            </div>
            <div class ="row" id = "restaurantInfo2">
                <div class = "col restaurant-cat"></div>
                <div class = "col restaurant-data"></div>
                <!--<div class = "col image"></div>-->
                <!--<div class = "col restaurant-info"></div>-->
            </div>
        </div>

    </div>

    <div class="row" id="treemaps">
        <div id="tree-map-div"> </div>
    </div>
    <!--<div class="row" id="restaurantInfo">-->
        <!--<div class = "restaurant-title"></div>-->
    <!--</div>-->
    <!--<div class = "row" id = "stars">-->
        <!--<div class = "star-rating"></div>-->
    <!--</div>-->
    <!--<div class ="row" id = "restaurantInfo2">-->
        <!--<div class = "col restaurant-cat"></div>-->
        <!--<div class = "col restaurant-data"></div>-->
        <!--<div class = "col image"></div>-->
        <!--&lt;!&ndash;<div class = "col restaurant-info"></div>&ndash;&gt;-->
    <!--</div>-->

    <!--Load relevant libraries-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/leaflet.js"></script>

        <script src="js/leaflet.awesome-markers.js"></script>
        <script src="//d3js.org/d3.v3.min.js"></script>

    <!--Custom color scales-->
    <script src="js/d3-color.js"></script>
    <script src="js/d3-interpolate.js"></script>
    <script src="js/d3-scale-chromatic.js"></script>
    <script src="js/smooth-scroll.js"></script>


    <!--Visualization objects-->
    <script src="js/restaurantMap.js"></script>
    <script src="js/treemap.js"></script>
    <!--<script src="js/map.js"></script>-->
    <script src="js/main.js"></script>


</body>
</html>
