<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 Project</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <h1> A Hungry Student's Guide to Las Vegas</h1>

    <div class="row view overlay zoom" >
            <img src="images/res1.jpg" class="img-fluid" style="height:200px"/>
            <img src="images/res4.jpg" class="img-fluid" style="height:200px"/>
            <img src="images/food1.jpg" class="img-fluid" style="height:200px; width:210px"/>
            <img src="images/res2.jpg" class="img-fluid" style="height:200px"/>
    </div>

    <div class="row">
        <p>
            Explore this website to find a restaurant for any kind of event - a quick lunch, birthday meal, or
            celebratory event! The data below can be filtered based on price range and average rating on Yelp.
        </p>
    </div>
    <div class="row" id="maps">
        <div class="col-8"> Map </div>
        <div class="col-4"> Treemap </div>
    </div>

    <div class="row" id="restaurantInfo">
        Specific Restaurant information here
    </div>

    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.min.js"></script>

    <script src="js/main.js"></script>
</body>
</html>
