
body {
	font-family: 'Avenir Next', sans-serif;
	background-color: #FFFED7;
	text-align: center;
	color: #343434;
	margin-left: 50px; align-content: center;
	margin-right: 50px;
}

h1 {
	font-weight: 100;
	margin-top: 50px;
	color: #343434;
}

h2 {
text-align: left;
}

#homepage-title {
	margin-top: 15%;
	font-size: 55px;
	color: white;
}

#space-holder {
	margin-top: 25%;
}

a:hover {
	color:white;
}

.nav-link {
	color: white;


}
/*Video*/
#myVideo {
	position: absolute;
	object-fit: cover;
	filter: brightness(25%);
	z-index: -1;
	right: 0;
	bottom: 0;
	min-width: 100%;
	height: 100%;
	/*margin-right: 0 !important;*/
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
}

#homepage-button {
	width: 150px;
	color: white;
	opacity: 1.0;
	height: 50px;
	background-color: rgb(211, 70, 58);
	text-align: center;
	margin-top: 10%;
}

#main-page {
	/*background-color: #0c5460!important;*/
	background-color: transparent!important;
	/*position: absolute;*/
}

#video-container {
	/*height: 100%;*/
	width: 100%;
}

#map-area {
	width: 800px;
	height: 800px;
	margin: 0;
	padding: 0;
}

#test-map {
	width: 100%;
	height: 500px;
}

#inputs {
	margin-bottom: 10px;
}

#tree-map-div {
	margin-top: 10px;
}

#leaflet-div {
	padding: 0 0 0 0 !important;
}

#restaurant-info-div {
	padding: 0 0 0 0 !important;
	margin-left: 50px;
}

.stations, .stations svg {
	position: absolute;
}

.stations svg {
	width: 60px;
	height: 20px;
	padding-right: 100px;
	font: 10px sans-serif;
}

.marker circle {
	fill: yellow;
	stroke: black;
	stroke-width: 1.5px;
	z-index: 100;

p {
	font-size: 14px;
	text-align: center;
}

img {
	height: 200px;
	overflow: hidden;
	align-content: center;
}

rect {
	fill: none;
}

.chart {
	display: block;
	margin: auto;
	margin-top: 40px;
}

text {
	font-size: 11px;
}

#tree-map-div {
	width: 100%;
}