
body {
	font-family: 'Avenir Next', sans-serif;
	background-color: #FFFED7;
	text-align: center;
	color: #343434;
	margin-left: 50px; align-content: center;
	margin-right: 50px;
}

h1 {
	font-weight: 100;
	margin-top: 50px;
	color: #343434;
}

p {
	font-size: 14px;
	text-align: center;
}

img {
	height: 200px;
	overflow: hidden;
	align-content: center;
}